:root {
    --cor-secundaria: #ffffff;
    --cor-principal: #46c2b1;
    --cor-botao: #0ecaca;
    --cor-botao-hover: #10d3d3;
    --cor-azul-escuro: #00423d;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
}

/* PRIMEIRA SECÇÃO */

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, var(--cor-principal), var(--cor-azul-escuro));
}

.apresentacao_titulo {
    font-size: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.apresentacao_titulo strong {
    color: var(--cor-principal);
    font-weight: 600;
}

.apresentacao_paragrafo, .beneficios_subtitulo, .formula_titulo, .depoimentos_titulo, .video_titulo {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.apresentacao_produto {
    width: 100%;
}

.apresentacao_botao {
    background-color: var(--cor-botao);
    padding: 1rem 1.2rem;
    text-align: center;
    border-radius: 1rem;
    text-decoration: none;
    display: inline-block;
    width: 50vw;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.apresentacao_botao:hover {
    background-color: var(--cor-botao-hover);
}

/* SEGUNDA SECÇÃO */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_titulo strong, .depoimentos_titulo strong {
    color: var(--cor-principal);
}

.video_nutricionista {
    width: 80vw;
    height: 80vh;
}

/* TERCEIRA SECÇÃO */

.beneficios, .formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, var(--cor-principal), var(--cor-azul-escuro));
}

.beneficios_subtitulo, .formula_titulo, .depoimentos_titulo, .video_titulo {
    margin: 0;
    padding: 1rem;
}

.beneficios_beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px black solid;
    box-shadow: 2px 2px 18px;
    width: 79vw;
    padding: 3rem 1rem;
    border-radius: 5%;
    margin: 1rem;
}

.beneficio_img {
    border-radius: 50%;
    width: 35%;
    margin-bottom: 1.3rem;
}

.beneficio_titulo {
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem;
}

.beneficio_paragrafo {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 1rem;
}

/* QUARTA SECÇÃO */

.formula_titulo {
    margin: 0;
}

/* QUINTA SECÇÃO */

.depoimentos {
    background: linear-gradient(to top, var(--cor-principal), var(--cor-azul-escuro));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.3rem;
}

.depoimentos_video {
    width: 80vw;
    margin: 1rem;
}

.swiper {
    width: 400px;
    height: 600px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

/* WHATSAPP */

.icone_whatsapp {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 48px;
    right: 5px;
    z-index: 1;
}

/* VOLTAR AO TOPO */

.scrollTopBtn {
    background-color: green;
    padding: 0.7rem 1.8rem;
    border-radius: 15px;
    color: var(--cor-secundaria);
    font-weight: 600;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.8;
    border: 0;
    box-shadow: 2px 2px 10px black;
    display: none;
}

/* RODAPÉ */

.rodape {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    gap: 0.5rem;
}

.container_rodape {
    display: flex;
    flex-direction: row;
}

.container_texto {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.rodape_suporte {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    gap: 0.8rem;
}

.rodape_titulo {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.rodape_button {
    background-color: var(--cor-botao);
    text-align: center;
    border-radius: 10px;
    color: var(--cor-secundaria);
    width: 35vw;
    font-size: 0.8rem;
    padding: 0.7rem;
    font-weight: 500;
    text-decoration: none;
}

.rodape_container {
    display: flex;
    justify-content: center;
}

.rodape_pagamento {
    width: 100%;
    height: 133%;
}

.rodape_direito {
    color: var(--cor-secundaria);
    text-align: center;
    margin: 0.6rem 0;
}